.header-latest-update {
    padding: 3rem 0;
    overflow: hidden;
    @include large {
        display: flex;
    }

    a {
        color: white;
        text-decoration: none;
    }

    .latest-update{
        color: white;
        position: relative;

        @include large {
            width: 70%;
            padding-right: 5rem;
        }

        @include breakpoint(1270px) {

            &::after, &::before {
                content: '';
                display: block;
                width: 5rem;
                height: 100%;
                pointer-events: none;
                position: absolute;
                bottom: -3rem;
                z-index: 1;
                transform: skew(-25deg, 0deg);
            }

            &::after {
                background-color: #084970;
                right: 5rem;
            }

            &::before {
                background-color: #155176;
                right: 10rem;
            }
        }

        @include xl2 {
            padding-right: 10rem;
        }

        &__content {
            position: relative;
            z-index: 2;
        }

        .latest-update__subtitle {
            margin-bottom: 0.5rem;
            font-family: $font-bold;
            font-size: 18px;
        }

        .latest-update__intro {
            margin: 1rem 0;
            @include fluid-font(1.35rem, 0.81);

            @include large {
                max-width: 85%;
            }
        }

        .latest-update__button {
            margin-top: 1rem;
            background-color:  rgba(0, 0, 0, 0.35) !important;
        }
    }

    .frequently-visited {
        display: none;
        

        @include large {
            display: block;
            width: 30%;
            position: relative;
            z-index: 2;
        }

        .frequently-visited__title {
            color: $secondary-color;
            margin-bottom: 0.5rem;
            font-family: $font-bold;
            font-size: 14px;
        }

        .frequently-visited__links {
            li {
                a {
                    @extend .button-secondary;
                    @extend .button-icon;
                    background-image: url('../../src/images/icons/arrow-right-white.svg') !important;
                    color: white !important;
                    font-family: $font-regular !important;
                }
            }
        }
    }
}