// Grayscale
$white: white;
$black: black;
$near-white: #f2f2f2;
$near-white-2: #fbfbfb;
$gray: #8c8c8c;


$gray-0: white;
$gray-1: #f2f5f7;
$gray-2: #ccc;
$gray-3: #999;
$gray-4: #666;
$gray-5: #4c4c4c;
$gray-6: #333;

// Project specific
$primary-color: #01426a;
$primary-color-light: #00ade4;
$secondary-color: #5ec4b4;
$secondary-color-light: #00f8ee;

$text-dark: #212121;
$menu-item-color: #0b1232;
$menu-border-color: #dbdff5;

$footer-bg-color: #f4f6fb;

$border-color: #efefef;
$block-background-color: $gray-1;

$gradient-navy: linear-gradient(to left, #242a37, #102b6c);
$gradient-blue: linear-gradient(148deg, #01a6df -16%, #0791cf 18%, #0c7dc0 55%);
$gradient-teal: linear-gradient(to left, #00b0db, #02bbb4);